@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&family=Ubuntu:wght@300;400;500;700&display=swap');

/*----------Common Styles----------*/
body{
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
}
.primary-color{
    color: #ED4C67;
}
ul li, ul li a{
    list-style: none;
    text-decoration: none;
}
h1{
    font-size: 2em;
}
h2{
    font-size: 30px;
}
h5{
    font-size: 18px;
}
h6{
    font-size: 16px;
}
p{
    font-size: 14px;
}
/*----------Header Style----------*/
.navbar-brand h4{
    font-family: 'Ubuntu', sans-serif;
}
.carousel-item{
    width: 100%;
    height: 85vh;
}
ul li a{
    font-weight: 500;
    font-size: 13px;
}


header .carousel-item img{
    background-size: cover;
}

/*----------Package Section----------*/
.card-body{
    flex: 0;
}
.package-section ul li svg{
    background: #FEF5FA;
    padding: 2px;
    color: #5243C2;
}
.package-section p{
    color: #848199;
}
.package-section ul li{
    color: #848199;
    font-size: 12px;
}
.package-section .btn{
    font-size: 14px;
}
.special-card ul li, .special-card p{
    font-size: 12px;
}
.package-section .special-card ul li, .package-section .special-card p{
    color: #fff;
}
.package-section .btn{
    background: #FEF5FA;
    color: #5243C2; 
}
.normal-card{
    max-width: 270px;
}
.special-card {
    max-width: 270px;
    transform: scale(1.2);
    z-index: 10;
    position: relative;
}
.special-card .card{
    border-radius: 15px;
}
.special-card  span{
    position: absolute;
    top: 0;
    right: -15px;
}

/*----------Client Section----------*/
.mt-130{
    margin-top: 130px;
}
.mt-50{
    margin-top: 50px;
}

/*----------Booking Section----------*/
.booking-form{
    background: url('./images/people.png');
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    width: 100%;
    height: 520px;
    padding: 30px 0;
}

/*----------Toast----------*/
.toast{
    z-index: 20;
}